<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Page.Title</title>
    <link href="@Href("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <link href="@Href("~/Content/layout.css")?2014-05-09" rel="stylesheet" type="text/css" />
    <link href="@Href("~/Content/Site.css")?2014-05-09" rel="stylesheet" type="text/css" />
    <script src="http://ajax.cdnjs.com/ajax/libs/modernizr/1.7/modernizr-1.7.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.5.2.min.js"></script>
    <script src="@Href("~/Scripts/autocolumn.min.js")"></script>
    <script src="@Href("~/Scripts/Helpers.js")"></script>
    @RenderSection("head", required: false)

@{
    string subnav = null;

    if (Request.Path.ToLowerInvariant() == "/")
    {
        subnav = "index";
    }

    if (Request.Path.ToLowerInvariant() == "/docs/start-here/overview")
    {
        subnav = "overview";
    }

    if (Request.Path.ToLowerInvariant() == "/docs/contribute/contributing-to-nuget")
    {
        subnav = "contribute";
    }
    
    if (Request.Path.ToLowerInvariant().StartsWith("/docs/release-notes/"))
    {
        subnav = "releasenotes";
    }
    
    if (subnav != null)
    {
        <style type="text/css">
            #subnav-@subnav a { color: black; }
        </style>
    }
}
</head>
<body>
    <div class="header">
        <a href="@Href("~/")"><img class="logo" src="/images/logo.png" border="0" /></a>
        <div class="search">
            <form action="@Href("~/search")" method="get" novalidate="novalidate">
                <input id="searchbox" type="search" name="q" placeholder="SEARCH DOCS" autocomplete="off" value="@PageData["query"]" />
                <input type="submit" id="searchbutton" value=" " />
            </form>
        </div>
        <nav>
            <ul>
                <li><a href="//www.nuget.org">Home</a></li>
                <li><a href="//www.nuget.org/packages">Packages</a></li>
                <li class="current"><a href="@Href("~/")">Documentation</a></li>
                <li><a href="http://blog.nuget.org">Blog</a></li>
                <li><a href="//www.nuget.org/policies/contact">Contact</a></li>
            </ul>
        </nav>
        <div style="clear:both"></div>
    </div>
    <div class="subnav">
        <nav class="sub">
            <ul>
                <li id="subnav-index"><a href="@Href("~/")">Index</a></li>
                <li id="subnav-overview"><a href="@Href("~/docs/Start-Here/Overview")">Overview</a></li>
                <li id="subnav-contribute"><a href="@Href("~/docs/Contribute/Contributing-to-NuGet")">Contribute</a></li>
                <li id="subnav-releasenotes"><a href="@Href("~/docs/Release-Notes/NuGet-2.8.1")">Release Notes</a></li>
            </ul>
        </nav>
        <div class="twitter">
            <a href="https://twitter.com/nuget" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @@nuget</a>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
        </div>
        <div style="clear:both"></div>
    </div>
    <div class="content">
        <section>
            <article>
                @RenderBody()
            </article>
        </section>
    </div>
    <footer class="page">
        <p>
            <a href="http://outercurve.org"><img src="/images/outercurve.png" alt="Outercurve Foundation" style="border-width:0" /></a>
        </p>
        <p>
            &copy; 2011-@DateTime.UtcNow.Year Outercurve Foundation - <a href="//www.nuget.org/policies/terms">Terms of Use</a> - <a href="//www.nuget.org/policies/privacy">Privacy Policy</a>
        </p>
        @if (Page.Source != null)
        {
            <p>
                View or edit this page's source on GitHub:
                <a href="https://github.com/NuGet/NuGetDocs/tree/master/site/@HttpUtility.UrlPathEncode(Page.Source)" target="edit">https://github.com/NuGet/NuGetDocs/tree/master/site/@HttpUtility.UrlPathEncode(Page.Source)</a>
            </p>
        }
        else
        {
            <p>
                View or edit this site's source on GitHub:
                <a href="https://github.com/NuGet/NuGetDocs" target="edit">https://github.com/NuGet/NuGetDocs</a>
            </p>
        }
    </footer>
    @Microsoft.Web.Helpers.Analytics.GetGoogleAsyncHtml("UA-12268721-4")</body>
</html>
