@using NuGet.Docs
@helper RenderIndex(string folder)
{
    foreach (var topic in Topic.GetTopicsWithSubTopics(folder).Where(t => t.SubTopics.Any()))
    {
        <article>
            <div>
                <header><h1><a name="@topic.Title.Replace(" ", "-")"></a>@topic.Title</h1></header>
                @foreach (var subTopic in topic.SubTopics)
                {
                    <h2><a href="@subTopic.Url">@subTopic.Title</a></h2>
                }
            </div>
        </article>
    }
}

@helper RenderSubTopics(string topicFolder)
{
    <ol class="subTopics">
        @foreach (var subTopic in Topic.GetSubTopics(topicFolder))
        {
            <li class="subTopic"><h2><a href="@subTopic.Url">@subTopic.Title</a></h2></li>
        }
    </ol>
}
