<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Page.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @*<link href="~/css/nuget.css?2015-02-16" rel="stylesheet" type="text/css" />*@
    <link href="~/css/simple-sidebar.css" rel="stylesheet" type="text/css" />
    <link href="~/css/nuget.docs.css?2015-02-16" rel="stylesheet" type="text/css" />
    <link href="~/content/bootstrap.css" rel="stylesheet" type="text/css" />
    @*<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.7.2.js"></script>
    <script src="~/js/nuget.docs.js"></script>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://nuget.org">nuget</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="search">
                    @*<form class="navbar-form navbar-right" role="search" action="~/search" method="get" novalidate="novalidate">
                            <input id="searchbox" type="search" name="q" placeholder="SEARCH DOCS" autocomplete="off" value="@PageData["query"]" />
                            <input type="submit" id="searchbutton" value=" " />
                        </form>*@
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div id="wrapper">
        <div id="sidebar-wrapper" style="background-color:transparent">
            <aside id="toc">
                @TopicHelper.RenderDocumentationIndex()
            </aside>
        </div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                @*<div class="row">
                        <div class="col-lg-12">
                            <h1>Simple Sidebar</h1>
                            <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                            <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                        </div>
                    </div>*@
                <div class="col-xs-10">
                    <div class="content">
                        <section>
                            @RenderBody()
                            <div style="clear:both;"></div>
                        </section>
                    </div>
                </div>
                <nav class="col-xs-2 bs-docs-sidebar">
                    <ul id="baseSidebar" class="nav nav-stacked">
                        @*<li>
                                <a href="#GroupA">Group A</a>
                                <ul class="nav nav-stacked">
                                    <li><a href="#GroupASub1">Sub-Group 1</a></li>
                                    <li><a href="#GroupASub2">Sub-Group 2</a></li>
                                </ul>
                            </li>*@

                        @using NuGet.Docs
                        @{

                            List<Heading> headings = Page.Headings;
                            bool hasHeadings = headings != null && headings.Count > 0;
                            string articleId = null;

                            if (hasHeadings)
                            {
                                // If we have headings, then give the article an id for styling to prepare for the TOC
                                articleId = "doc";

                                // Normalize the heading levels to start at 3 in the TOC.
                                var minHeading = headings.Min(h => h.Level);
                                var deltaTo3 = 3 - minHeading;

                                <aside id="toc">
                                    @for (int i = 0; i < headings.Count; i++)
                                    {
                                        var heading = headings[i];
                                        var hTag = "h" + (heading.Level + deltaTo3).ToString();
                                        WriteLiteral("<" + hTag + ">");
                                        <a href="#@heading.ID">@heading.Text</a>
                                        WriteLiteral("</" + hTag + ">");
                                    }
                                </aside>
                            }
                        }

                        <li>
                            <a href="#Overview">Overview</a>
                        </li>
                        <li>
                            <a href="#Data">Data</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        $('body').scrollspy({
            target: '.bs-docs-sidebar',
            offset: 40
        });

        $("#baseSidebar").affix({
            offset: {
                top: 60
            }
        });
    </script>

</body>
</html>